/* Features Section */
.features .card {
  border: none;
  transition: transform 0.3s;
  background-color: #dbad96;
  max-width: 400px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the card within its column */
}

.features .card:hover {
  transform: translateY(-10px);
}

.btn.custom-btn {
  background-color: #b14814; 
  border-color: #b14814;     
  color: white;               
}

.btn.custom-btn:hover {
  background-color: #e6946b; 
  border-color: #e6946b;     
}

@media (min-width: 699px) {
  .hero {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
