body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b14814;
}
.container {
    display: flex;
    background-color: white;
    width: 60%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.left {
    background-color: #000000;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.left h1 {
    font-size: 3em;
    margin: 0;
}
.left p {
    font-size: 1.2em;
    margin: 10px;
    margin-top: 10px;
}
.right {
    width: 60%;
    padding: 40px;
}
.right h2 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group .show-password {
    float: right;
    font-size: 0.9em;
    cursor: pointer;
    color: #888;
}
.signin-button {
    width: auto;
    padding: 12px 40px;
    font-size: 1.2em;
    background-color: #f2a357;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signin-button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.social-buttons button {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.apple {
    background-color: black;
}
.facebook {
    background-color: #3b5998;
}
.google {
    background-color: #db4437;
}
.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}
.signup-link a {
    color: #57bef2;
    text-decoration: none;
}
.unicare {
    font-size: 40px;
}
.divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider span {
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
}
.divider::before,
.divider::after {
    content: "";
    flex-grow: 1;
    border-top: 2px solid #ccc;
}
.error-message {
    display: none;
    background-color: #f44336;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
}
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left {
        width: 100%;
        max-width: 100%;
        padding: 20px 0;
    }
    .right {
        padding: 20px;
        text-align: center;
    }
}